<div class="uk-card uk-card-default uk-card-small tm-ignore-container" uk-sticky="offset: 30; bottom: true; media: @m;">
  <div class="uk-card-body">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand uk-text-muted">Subtotal</div>
      <div>$3148</div>
    </div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand uk-text-muted">Discount</div>
      <div class="uk-text-danger">−$29</div>
    </div>
  </div>
  <div class="uk-card-body">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-expand uk-text-muted">Total</div>
      <div class="uk-text-lead uk-text-bolder">$3119</div>
    </div>
    <a class="uk-button uk-button-primary uk-margin-small uk-width-1-1" href="checkout">checkout</a>
  </div>
</div>