<div class="uk-card-body">
  <div>
    <a href="#" title="Apple">
      <img src="assets/images/brands/apple.svg" alt="Apple" style="height: 40px;">
    </a>
  </div>
  <div class="uk-margin">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-flex uk-flex-middle">
        <ul class="uk-iconnav uk-margin-xsmall-bottom tm-rating">
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
        </ul>
        <div class="uk-margin-xsmall-left">
          <a class="uk-text-meta js-scroll-to-description" href="#description"
            onclick="UIkit.switcher('.js-product-switcher').show(3);">(2)</a>
        </div>
      </div>
      <div>
        <span class="uk-label uk-label-warning uk-margin-xsmall-right">top selling</span>
        <span class="uk-label uk-label-danger uk-margin-xsmall-right">trade-in</span>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-grid-medium" uk-grid>
      <div>
        <div class="uk-text-small uk-margin-xsmall-bottom">Color</div>
        <ul class="uk-subnav uk-subnav-pill tm-variations" uk-switcher>
          <li>
            <a class="tm-variation-color" uk-tooltip="Space Grey">
              <div style="background-color: #aaaeb1"></div>
            </a>
          </li>
          <li>
            <a class="tm-variation-color" uk-tooltip="Silver">
              <div style="background-color: #dddfde"></div>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <div class="uk-text-small uk-margin-xsmall-bottom">SSD Storage</div>
        <ul class="uk-subnav uk-subnav-pill tm-variations" uk-switcher>
          <li>
            <a>256 GB</a>
          </li>
          <li>
            <a>512 GB</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-padding-small uk-background-primary-lighten uk-border-rounded">
      <div class="uk-grid-small uk-child-width-1-1" uk-grid>
        <div>
          <del class="uk-text-meta">$1899.00</del>
          <div class="tm-product-price">$1599.00</div>
        </div>
        <div>
          <div class="uk-grid-small" uk-grid>
            <div>
              <a onclick="increment(-1, 'product-1')" uk-icon="icon: minus; ratio: .75"></a>
              <input class="uk-input tm-quantity-input" id="product-1" type="text" maxlength="3" value="1" />
              <a onclick="increment(+1, 'product-1')" uk-icon="icon: plus; ratio: .75"></a>
            </div>
            <div>
              <button class="uk-button uk-button-primary tm-product-add-button tm-shine js-add-to-cart">add
                to cart</button>
            </div>
            <div class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-text-meta">
              <a class="uk-margin-small-right js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                uk-tooltip="Add to favorites">
                <span uk-icon="heart"></span>
              </a>
              <a class="js-add-to js-add-to-compare tm-action-button-active js-added-to" uk-tooltip="Add to compare">
                <span uk-icon="copy"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-padding-small uk-background-muted uk-border-rounded">
      <div class="uk-grid-small uk-child-width-1-1 uk-text-small" uk-grid>
        <div>
          <div class="uk-grid-collapse" uk-grid>
            <span class="uk-margin-xsmall-right" uk-icon="cart"></span>
            <div>
              <div class="uk-text-bolder">Delivery</div>
              <div class="uk-text-xsmall uk-text-muted">In stock, free, tomorrow</div>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-grid-collapse" uk-grid>
            <span class="uk-margin-xsmall-right" uk-icon="location"></span>
            <div>
              <div class="uk-text-bolder">Pick up from store</div>
              <div class="uk-text-xsmall uk-text-muted">In stock, free, tomorrow</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <ul class="uk-list uk-text-small uk-margin-remove">
      <li>
        <span class="uk-text-muted">Diagonal display: </span>
        <span>15.4"</span>
      </li>
      <li>
        <span class="uk-text-muted">CPU: </span>
        <span>Intel®&nbsp;Core™ i7</span>
      </li>
      <li>
        <span class="uk-text-muted">RAM: </span>
        <span>16&nbsp;GB</span>
      </li>
      <li>
        <span class="uk-text-muted">Video Card: </span>
        <span>AMD Radeon Pro 555</span>
      </li>
    </ul>
    <div class="uk-margin-small-top">
      <a class="uk-link-heading js-scroll-to-description" href="#description"
        onclick="UIkit.switcher('.js-product-switcher').show(1);">
        <span class="tm-pseudo">Detailed specifications</span>
        <span class="uk-margin-xsmall-left" uk-icon="icon: chevron-down; ratio: .75;"></span>
      </a>
    </div>
  </div>
</div>