<section class="uk-section uk-section-small">
    <div class="uk-container">
      <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
        
        <app-checkout-heading></app-checkout-heading>
        
        
        <section>
          <div class="uk-grid-medium" uk-grid>
            <form class="uk-form-stacked uk-width-1-1 tm-checkout uk-width-expand@m">
              <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                
                <app-checkout-contactinfo></app-checkout-contactinfo>

<app-checkout-shipping></app-checkout-shipping>


                                                      </div>
                                                    </form>
                                                    <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                                                      <div class="uk-card uk-card-default uk-card-small tm-ignore-container" uk-sticky="offset: 30; bottom: true; media: @m;">
                                                        <section class="uk-card-body">
                                                          <h4>Items in order</h4>
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-small">Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)</div>
                                                              <div class="uk-text-meta">1 × $1599.00</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div>$1599.00</div>
                                                            </div>
                                                          </div>
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-small">Apple MacBook 12&quot; MNYN2LL/A 512GB (Rose Gold)</div>
                                                              <div class="uk-text-meta">1 × $1549.00</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div>$1549.00</div>
                                                            </div>
                                                          </div>
                                                        </section>
                                                        <section class="uk-card-body">
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-muted">Shipping</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div>Pick up from store</div>
                                                              <div class="uk-text-meta">Free, tomorrow</div>
                                                            </div>
                                                          </div>
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-muted">Payment</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div>Online by card</div>
                                                            </div>
                                                          </div>
                                                        </section>
                                                        <section class="uk-card-body">
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-muted">Subtotal</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div>$3148</div>
                                                            </div>
                                                          </div>
                                                          <div class="uk-grid-small" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-muted">Discount</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div class="uk-text-danger">−$29</div>
                                                            </div>
                                                          </div>
                                                        </section>
                                                        <section class="uk-card-body">
                                                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                            <div class="uk-width-expand">
                                                              <div class="uk-text-muted">Total</div>
                                                            </div>
                                                            <div class="uk-text-right">
                                                              <div class="uk-text-lead uk-text-bolder">$3119</div>
                                                            </div>
                                                          </div>
                                                          <button class="uk-button uk-button-primary uk-margin-small uk-width-1-1">checkout</button>
                                                        </section>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </section>
                                              </div>
                                            </div>
                                          </section>