<div class="uk-card uk-card-default uk-card-small tm-ignore-container">
    <header class="uk-card-header">
      <h1 class="uk-h2">Orders</h1>
    </header>
    <section class="uk-card-body">
      <h3>
        <a class="uk-link-heading" href="#">#36637649
          <span class="uk-text-muted uk-text-small">from June 17, 2018</span>
        </a>
      </h3>
      <table
        class="uk-table uk-table-small uk-table-justify uk-table-responsive uk-table-divider uk-margin-small-top uk-margin-remove-bottom">
        <tbody>
          <tr>
            <th class="uk-width-medium">Items</th>
            <td>7</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Shipping</th>
            <td>Pick up from store</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Payment</th>
            <td>Online by card</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Total</th>
            <td>$4896.00</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Status</th>
            <td>
              <span class="uk-label">Processing</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="uk-card-body">
      <h3>
        <a class="uk-link-heading" href="#">#36637648
          <span class="uk-text-muted uk-text-small">from June 16, 2018</span>
        </a>
      </h3>
      <table
        class="uk-table uk-table-small uk-table-justify uk-table-responsive uk-table-divider uk-margin-small-top uk-margin-remove-bottom">
        <tbody>
          <tr>
            <th class="uk-width-medium">Items</th>
            <td>2</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Shipping</th>
            <td>Pick up from store</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Payment</th>
            <td>Online by card</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Total</th>
            <td>$599.00</td>
          </tr>
          <tr>
            <th class="uk-width-medium">Status</th>
            <td>
              <span class="uk-label uk-label-danger">Canceled</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
