<h2 class="uk-text-center">Store</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet venenatis est. Phasellus vitae mauris
  imperdiet, condimentum eros vel, ullamcorper turpis. Maecenas sed libero quis orci egestas vehicula fermentum id diam.
</p>
<figure>
  <div class="uk-text-bolder">Store Name</div>
  <div>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</div>
  <div>Daily 10:00–22:00</div>
</figure>
<div class="tm-wrapper">
  <figure class="tm-ratio tm-ratio-16-9 js-map" data-latitude="59.9356728" data-longitude="30.3258604" data-zoom="14">
  </figure>
</div>