<section class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

      <app-product-heading></app-product-heading>
      <div>
        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
              <div class="uk-grid-small uk-grid-collapse uk-grid-match" uk-grid>

                <div class="uk-width-1-1 uk-width-expand@m">
                  <app-product-image></app-product-image>
                </div>

                <div class="uk-width-1-1 uk-width-1-3@m tm-product-info">
                  <app-product-info></app-product-info>
                </div>

                <div class="uk-width-1-1 tm-product-description" id="description">
                  <header>
                    <nav class="tm-product-nav"
                      uk-sticky="offset: 60; bottom: #description; cls-active: tm-product-nav-fixed;">
                      <ul class="uk-subnav uk-subnav-pill js-product-switcher" uk-switcher="connect: .js-tabs">
                        <li>
                          <a class="js-scroll-to-description" href="#description">Overview</a>
                        </li>
                        <li>
                          <a class="js-scroll-to-description" href="#description">Specifications</a>
                        </li>
                        <li>
                          <a class="js-scroll-to-description" href="#description">Accessories
                            <span>(9)</span>
                          </a>
                        </li>
                        <li>
                          <a class="js-scroll-to-description" href="#description">Reviews
                            <span>(2)</span>
                          </a>
                        </li>
                        <li>
                          <a class="js-scroll-to-description" href="#description">Q&A</a>
                        </li>
                      </ul>
                    </nav>
                  </header>



                  <div class="uk-card-body">
                    <div class="uk-switcher js-product-switcher js-tabs">
                      <app-product-overview></app-product-overview>
                      <app-product-specifications></app-product-specifications>
                      <app-product-accessories></app-product-accessories>
                      <app-product-reviews></app-product-reviews>
                      <app-product-qna></app-product-qna>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Related items-->
          <app-product-relateditems></app-product-relateditems>
        </div>
        <app-product-newreview></app-product-newreview>

      </div>
    </div>
  </div>
</section>