<section>
    <ul class="uk-list-divider uk-list-large" uk-accordion="multiple: true">
      <li>
        <a class="uk-accordion-title" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit?</a>
        <div class="uk-accordion-content">Vivamus imperdiet venenatis est. Phasellus vitae mauris
          imperdiet, condimentum eros vel, ullamcorper turpis. Maecenas sed libero quis orci egestas
          vehicula fermentum id diam.</div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Nullam massa sem, mollis ut luctus at, tincidunt a
          lorem?</a>
        <div class="uk-accordion-content">Aliquam sed dictum elit, quis consequat metus. Proin in
          mauris finibus urna lacinia laoreet sed id orci.</div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Aliquam pretium diam et ullamcorper malesuada?</a>
        <div class="uk-accordion-content">Praesent feugiat lectus faucibus tellus congue pharetra.
          In viverra vehicula pellentesque. Etiam consectetur ultricies magna at bibendum.</div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Nulla fringilla sollicitudin mauris eu volutpat?</a>
        <div class="uk-accordion-content">Mauris quis neque nec lectus aliquet malesuada. Nunc
          ullamcorper purus id gravida aliquam. Integer eget blandit urna.</div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Nam luctus velit ante, id pulvinar nisl gravida
          eget?</a>
        <div class="uk-accordion-content">Vestibulum gravida nisi tempor malesuada iaculis.
          Phasellus finibus, nisl quis pellentesque scelerisque, erat erat mollis massa, eu semper
          diam eros id risus. Cras vitae nisi porta.</div>
      </li>
    </ul>
  </section>
