<section>
  <h2 class="tm-checkout-title">Contact Information</h2>
  <div class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container">
    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s" uk-grid>
      <div>
        <label>
          <div class="uk-form-label uk-form-label-required">First Name</div>
          <input class="uk-input" type="text" required>
        </label>
      </div>
      <div>
        <label>
          <div class="uk-form-label uk-form-label-required">Last Name</div>
          <input class="uk-input" type="text" required>
        </label>
      </div>
      <div>
        <label>
          <div class="uk-form-label uk-form-label-required">Phone Number</div>
          <input class="uk-input" type="tel" required>
        </label>
      </div>
      <div>
        <label>
          <div class="uk-form-label uk-form-label-required">Email</div>
          <input class="uk-input" type="email" required>
        </label>
      </div>
    </div>
  </div>
</section>