
<section class="uk-section uk-section-small">
	<div class="uk-container">
		<div class="uk-grid-medium uk-child-width-1-1" uk-grid>
			<div class="uk-text-center">
				<ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
					<li>
						<a href="index">Home</a>
					</li>
					<li>
						<span>News</span>
					</li>
				</ul>
				<h1 class="uk-margin-small-top uk-margin-remove-bottom">News</h1>
			</div>
			<div>
				<div class="uk-grid-medium" uk-grid>
					<section class="uk-width-1-1 uk-width-expand@m">
						<section class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container">
							<ul class="uk-list uk-list-large uk-list-divider">
								<li>
									<article class="uk-article">
										<div class="uk-article-body">
											<div class="uk-article-meta uk-margin-xsmall-bottom">
												<time>June 4, 2018</time>
											</div>
											<div>
												<h3>
													<a class="uk-link-heading" href="article">Highlights from WWDC</a>
												</h3>
											</div>
											<div class="uk-margin-small-top">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>
											</div>
										</div>
									</article>
								</li>
								<li>
									<article class="uk-article">
										<div class="uk-article-body">
											<div class="uk-article-meta uk-margin-xsmall-bottom">
												<time>June 4, 2018</time>
											</div>
											<div>
												<h3>
													<a class="uk-link-heading" href="article">Apple introduces macOS Mojave</a>
												</h3>
											</div>
											<div class="uk-margin-small-top">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>
											</div>
										</div>
									</article>
								</li>
								<li>
									<article class="uk-article">
										<div class="uk-article-body">
											<div class="uk-article-meta uk-margin-xsmall-bottom">
												<time>May 29, 2018</time>
											</div>
											<div>
												<h3>
													<a class="uk-link-heading" href="article">iOS 11.4 brings stereo pairs and multi-room audio with AirPlay 2</a>
												</h3>
											</div>
											<div class="uk-margin-small-top">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eget ipsum id aliquam. Nam consectetur interdum nibh eget sodales. Cras volutpat efficitur ornare.</p>
											</div>
										</div>
									</article>
								</li>
							</ul>
						</section>
          </section>
          <app-news-rightsidebar></app-news-rightsidebar>
          

				</div>
			</div>
		</div>
	</div>
</section>