
					<aside class="uk-width-1-4 uk-visible@m tm-aside-column">
						<section class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 90; bottom: true;">
							<nav>
								<ul class="uk-nav uk-nav-default tm-nav">
									<li>
										<a href="about">About</a>
									</li>
									<li>
										<a href="contacts">Contacts</a>
									</li>
									<li>
										<a href="blog">Blog</a>
									</li>
									<li class="uk-active">
										<a href="news">News</a>
									</li>
									<li>
										<a href="faq">FAQ</a>
									</li>
									<li>
										<a href="delivery">Delivery</a>
									</li>
								</ul>
							</nav>
						</section>
          </aside>