<section>
  <div class="uk-grid-small uk-grid-divider" uk-grid>
    <div class="uk-width-1-1 uk-width-1-5@s uk-text-center tm-reviews-column">
      <div class="uk-text-meta uk-text-uppercase">average rating</div>
      <div class="uk-heading-primary">5.0</div>
      <div class="uk-flex uk-flex-center">
        <ul class="uk-iconnav tm-rating">
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
          <li>
            <span class="uk-text-warning" uk-icon="star"></span>
          </li>
        </ul>
      </div>
      <div class="uk-margin-small-top uk-text-meta">based on 2 reviews</div>
      <button class="uk-button uk-button-primary uk-margin-top uk-width-1-1" uk-toggle="target: #review">write a
        review</button>
    </div>
    <div class="uk-width-1-1 uk-width-expand@s">
      <div class="uk-grid-small uk-grid-divider uk-child-width-1-1" uk-grid>
        <article>
          <section class="uk-grid-small uk-child-width-1-1" uk-grid>
            <header>
              <div class="uk-h4 uk-margin-remove">Thomas Bruns</div>
              <time class="uk-text-meta">May 21, 2018</time>
            </header>
            <div>
              <ul class="uk-iconnav uk-margin-bottom tm-rating">
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
              </ul>
              <div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                  no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="uk-grid-small uk-flex-middle uk-margin-top" uk-grid>
                <div class="uk-text-meta">Was this review helpful to you?</div>
                <div>
                  <button class="uk-button uk-button-default uk-button-small">Yes<span
                      class="uk-margin-xsmall-left uk-text-muted">14</span>
                  </button>
                  <button class="uk-button uk-button-default uk-button-small uk-margin-small-left">No<span
                      class="uk-margin-xsmall-left uk-text-muted">2</span>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </article>
        <article>
          <section class="uk-grid-small uk-child-width-1-1" uk-grid>
            <header>
              <div class="uk-h4 uk-margin-remove">George Clanton</div>
              <time class="uk-text-meta">May 24, 2018</time>
            </header>
            <div>
              <ul class="uk-iconnav uk-margin-bottom tm-rating">
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
                <li>
                  <span class="uk-text-warning" uk-icon="star"></span>
                </li>
              </ul>
              <div>
                <p>Nunc interdum odio non erat commodo lacinia. Aliquam nec tincidunt lorem. Nunc
                  quis scelerisque nulla. Nam nulla ante, luctus non dignissim a, luctus quis sem.
                  Curabitur consectetur porttitor leo. Donec molestie nisl vitae lorem porttitor
                  vehicula. Etiam feugiat a magna ac dapibus. Donec vitae sollicitudin lectus.</p>
                <p>Sed mollis ex tincidunt posuere blandit. Mauris sed tellus dolor. Suspendisse
                  nibh mi, dignissim et molestie id, dictum in arcu. Duis sodales scelerisque
                  quam, quis lobortis felis egestas eu. Sed nibh nulla, aliquet ac leo vel, rutrum
                  dignissim metus. Sed non rhoncus ex. Curabitur accumsan porta lacus non viverra.
                  Etiam feugiat sapien ut purus luctus, eu porttitor neque volutpat.</p>
              </div>
              <div class="uk-grid-small uk-flex-middle uk-margin-top" uk-grid>
                <div class="uk-text-meta">Was this review helpful to you?</div>
                <div>
                  <button class="uk-button uk-button-default uk-button-small">Yes<span
                      class="uk-margin-xsmall-left uk-text-muted">5</span>
                  </button>
                  <button class="uk-button uk-button-default uk-button-small uk-margin-small-left">No<span
                      class="uk-margin-xsmall-left uk-text-muted">0</span>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</section>