<section class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

      <app-cart-heading></app-cart-heading>

      <div>
        <div class="uk-grid-medium" uk-grid>
          <div class="uk-width-1-1 uk-width-expand@m">
            <app-cart-products></app-cart-products>

          </div>
          <div class="uk-width-1-1 tm-aside-column uk-width-1-4@m">

            <app-cart-checkout></app-cart-checkout>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>