<div class="uk-text-center">
    <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
      <li>
        <a href="index">Home</a>
      </li>
      <li>
        <a href="catalog">Catalog</a>
      </li>
      <li>
        <a href="category">Laptops &amp; Tablets</a>
      </li>
      <li>
        <a href="subcategory">Laptops</a>
      </li>
      <li>
        <span>Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)</span>
      </li>
    </ul>
    <h1 class="uk-margin-small-top uk-margin-remove-bottom">Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB
      (Silver)</h1>
  </div>