<section class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-medium" uk-grid>
      <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">


        <app-account-leftsidebar></app-account-leftsidebar>

      </div>
      <div class="uk-width-1-1 uk-width-expand@m">
        <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
          <header class="uk-card-header">
            <h1 class="uk-h2">Favorites</h1>
          </header>
          <div class="uk-grid-collapse tm-products-list" uk-grid>

            <app-favorite-products></app-favorite-products>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>