
  <div class="uk-grid-collapse uk-child-width-1-1" uk-slideshow="finite: true; ratio: 4:3;" uk-grid>
    <div>
      <ul class="uk-slideshow-items" uk-lightbox>
        <li>
          <a class="uk-card-body tm-media-box tm-media-box-zoom" href="assets/images/products/1/1-large.jpg">
            <figure class="tm-media-box-wrap">
              <img src="assets/images/products/1/1-large.jpg"
                alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
            </figure>
          </a>
        </li>
        <li>
          <a class="uk-card-body tm-media-box tm-media-box-zoom" href="assets/images/products/1/1-add-1-large.jpg">
            <figure class="tm-media-box-wrap">
              <img src="assets/images/products/1/1-add-1-large.jpg"
                alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
            </figure>
          </a>
        </li>
        <li>
          <a class="uk-card-body tm-media-box tm-media-box-zoom" href="assets/images/products/1/1-add-2-large.jpg">
            <figure class="tm-media-box-wrap">
              <img src="assets/images/products/1/1-add-2-large.jpg"
                alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
            </figure>
          </a>
        </li>
        <li>
          <a class="uk-card-body tm-media-box tm-media-box-zoom" href="assets/images/products/1/1-add-3-large.jpg">
            <figure class="tm-media-box-wrap">
              <img src="assets/images/products/1/1-add-3-large.jpg"
                alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
            </figure>
          </a>
        </li>
        <li>
          <a class="uk-card-body tm-media-box tm-media-box-zoom" href="assets/images/products/1/1-add-4-large.jpg">
            <figure class="tm-media-box-wrap">
              <img src="assets/images/products/1/1-add-4-large.jpg"
                alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
            </figure>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <div class="uk-card-body uk-flex uk-flex-center">
        <div class="uk-width-1-2 uk-visible@s">
          <div uk-slider="finite: true">
            <div class="uk-position-relative">
              <div class="uk-slider-container">
                <ul class="tm-slider-items uk-slider-items uk-child-width-1-4 uk-grid uk-grid-small">
                  <li uk-slideshow-item="0">
                    <div class="tm-ratio tm-ratio-1-1">
                      <a class="tm-media-box tm-media-box-frame">
                        <figure class="tm-media-box-wrap">
                          <img src="assets/images/products/1/1-small.jpg"
                            alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure>
                      </a>
                    </div>
                  </li>
                  <li uk-slideshow-item="1">
                    <div class="tm-ratio tm-ratio-1-1">
                      <a class="tm-media-box tm-media-box-frame" href="#">
                        <figure class="tm-media-box-wrap">
                          <img src="assets/images/products/1/1-add-1-small.jpg"
                            alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure>
                      </a>
                    </div>
                  </li>
                  <li uk-slideshow-item="2">
                    <div class="tm-ratio tm-ratio-1-1">
                      <a class="tm-media-box tm-media-box-frame" href="#">
                        <figure class="tm-media-box-wrap">
                          <img src="assets/images/products/1/1-add-2-small.jpg"
                            alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure>
                      </a>
                    </div>
                  </li>
                  <li uk-slideshow-item="3">
                    <div class="tm-ratio tm-ratio-1-1">
                      <a class="tm-media-box tm-media-box-frame" href="#">
                        <figure class="tm-media-box-wrap">
                          <img src="assets/images/products/1/1-add-3-small.jpg"
                            alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure>
                      </a>
                    </div>
                  </li>
                  <li uk-slideshow-item="4">
                    <div class="tm-ratio tm-ratio-1-1">
                      <a class="tm-media-box tm-media-box-frame" href="#">
                        <figure class="tm-media-box-wrap">
                          <img src="assets/images/products/1/1-add-4-small.jpg"
                            alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)">
                        </figure>
                      </a>
                    </div>
                  </li>
                </ul>
                <div>
                  <a class="uk-position-center-left-out uk-position-small" href="#" uk-slider-item="previous"
                    uk-slidenav-previous></a>
                  <a class="uk-position-center-right-out uk-position-small" href="#" uk-slider-item="next"
                    uk-slidenav-next></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-hidden@s"></ul>
      </div>
    </div>
  </div>