<nav class="uk-navbar uk-margin-left">
  <div class="uk-navbar-left uk-flex-nowrap">

    <a uk-navbar-toggle-icon href="#hamburger-menu" class="uk navbar-toggle uk-hidden@m uk-padding-right uk-padding-remove-left" uk-toggle>

    </a>

    <a href="#" class="uk-navbar-item uk-logo uk-padding-remove-left">
      <img src="assets/logo.jpeg" />
    </a>
  </div>

  <div class="uk-navbar-left uk-width-large@m uk-width-5-6">
    <form action="" class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-5-6">
      <span uk-search-icon></span>
      <input type="search" class="uk-search-input" placeholder="Filter here...">
    </form>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-margin-right uk-visible@m uk-margin-right">
      <li class=""><a href="#" class="">Become a host</a></li>
      <li class=""><a href="/users" class="">Users</a></li>
      <li class=""><a href="/brands" class="">Brands</a></li>
      <li class=""><a href="#" class="">Signup</a></li>
      <li class=""><a href="#" class="">Login</a></li>
    </ul>
  </div>
</nav>

<div id="hamburger-menu" uk-offcanvas="overlay=: true">
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default">
      <li class=""><a href="#" class="">Become a host</a></li> 
      <li class=""><a href="/users" class="">Users</a></li>
      <li class=""><a href="/brands" class="">Brands</a></li>
      <li class=""><a href="#" class="">Help</a></li>
      <li class=""><a href="#" class="">Signup</a></li>
      <li class=""><a href="#" class="">Login</a></li>
    </ul>

    <button class="uk-offcanvas-close" type="button" uk-close>
    </button>
  </div>
</div>